@using BHLVTBLL.Services.XConfig
@model Dictionary<string, Object>
@{
    if (Model.ContainsKey("web_view")) {
        WebView web_view = (WebView)((WebView)new WebView((WebView)Model["web_view"])
                            .setPartialViewName("tab2_details")).Prepare();
        var dg1 = (WebDatagridClient)(web_view.CreateDatagrid()
                    .setClassDatagrid("easyui-datagrid")
                    .setUrlDataOption(Url.RouteUrl(new
                    {
                        controller = "Ultils",
                        action = "GetListInputData",
                        area = ""
                    }))
                   // Set id datagrid, remember this id for the process Jquery,(Javascript)
                   .setId("donhang_index_dg1"));
        <div>
            @Html.Raw(dg1.Widget())
        </div>
    }
}
