@using BHLVTBLL.Services.XConfig
@model Dictionary<string, Object>
@{
    if (Model.ContainsKey("web_view")) {
        var dg1 = (WebDatagridClient)(((WebView)Model["web_view"]).CreateDatagrid()
                   .setClassDatagrid("easyui-datagrid")
                   .setUrlDataOption(Url.RouteUrl(new
                   {
                       controller = "Ultils",
                       action = "GetListInputData",
                       area = ""
                   }))
                   // Set id datagrid, remember this id for the process Jquery,(Javascript)
                   .setId("donhang_index_dg1"));
        <div>
            @Html.Raw(dg1.Widget())
        </div>
    }
}
