 .modal-content {
     background-color:#ecf0f5;
    }

    body {
		/*font-size:12px;*/
    }

    hr {
        border: 1px solid #e6e5e5;
    }
	
    .easy-autocomplete input {
        border-radius: 0px !important;
        box-shadow: none !important;
    }

    .textbox {
        border-radius: 0px !important;
    }
    .input-sm {
    height:22px;
    }
    .form-group label {
    text-align:left !important;
    font-size:small;
    }
    .form-group {
    margin-bottom:3px;
    }
    select.input-sm {
    height:22px;
    line-height:22px;
    }
    .input-group .btn {
    padding: 0px 4px;
    }
    /*
        .table > tbody > tr > td,
     .table > tbody > tr > th,
     .table > tfoot > tr > td,
     .table > tfoot > tr > th,
     .table > thead > tr > td,
     .table > thead > tr > th {
    padding:0px;
    }
    */
    .nav-tabs > li > a {
    padding:8px 15px;
    font-weight:bolder   
    }
    .easy-autocomplete {
        width:100% !important;
    }
    .form-control,.easy-autocomplete input {
    /*border:none;*/
    /*border-bottom:1px solid #d2d6de;*/
    }
    .form-control:focus,.easy-autocomplete input:focus {
    border-bottom:1px solid #d2d6de;
    }
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #f9f9f9;
    }
    .textbox {
    border:none;
    }
   /* .table > thead > tr > th {
    border-width:0 1px 1px 0;
    padding:5px;
    background-color:#ececec7d;
    border-style:dotted;
    border-color:#bdbbbb;
    }
    .table > tbody > tr > td {
    border-width:0 1px 1px 0;
    border-style:dotted;
    border-color:#bdbbbb;
    }
    table.scroll tbody,
    table.scroll thead { display: block; }
    table.scroll tbody {
    height: 150px;
    
    overflow-y: auto;
    overflow-x: hidden;
}*/
    .panel-footer {
    border:none
    }
    .easy-autocomplete-container {
    z-index:999999;
    }
    .panel-footer {
    z-index:-1;
    }
    .btn-business {
       border:none;
       padding:3px 4px;
    }
    .btn-group-vt .l-btn {
    border-radius:0px;
    padding:0px 18px;
    }
    .combo-border{
        border:1px solid #c2d0e4;
    }
.validation-summary-errors ul li {
 color:red
}
.input-group-sm > .form-control, 
.input-group-sm > .input-group-addon,
 .input-group-sm > .input-group-btn > .btn {
    border-radius:0px;
}
.nav-tabs-custom > .nav-tabs > li.header {
 line-height: 30px;
 font-size: 15px;
}
input[type=file] {
padding:5px;
margin-bottom:5px;
}
.form-control1 {
    
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
}
.panel-form {
max-height:400px;overflow-y:auto
}