BODY {
	SCROLLBAR-FACE-COLOR: #dee3e7; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; font-family:arial;
       /* background: "images\bg-body.png";*/
}
.spacing {
	FONT-SIZE: 9pt; LINE-HEIGHT: 19px; FONT-FAMILY: arial; font-color: #000000
}
.textbody {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: arial; LETTER-SPACING: 0px; font-color: #000000
}
.textbody1 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: arial; LETTER-SPACING: 0px; font-color: #666666
}
INPUT.text {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
INPUT.textbox {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: arial; BACKGROUND-COLOR: #ffffff
}
.menu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu:visited {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu:hover {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu1:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu1:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu1:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu2:link {
	FONT-WEIGHT: Bold; FONT-SIZE: 11px; COLOR: #0000CC; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu2:visited {
	FONT-WEIGHT: Bold; FONT-SIZE: 11px; COLOR: #0000CC; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu2:hover {
	FONT-WEIGHT: Bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu3:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu3:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.menu3:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none; font-weight:bold
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none; font-weight:bold
}
A:hover {
	COLOR: #0e72a4; TEXT-DECORATION: none
}

.L:link {
	COLOR: #0e72a4; TEXT-DECORATION: none; font-weight:bold
}
.L:visited {
	COLOR: #0e72a4; TEXT-DECORATION: none; font-weight:bold
}
.L:hover {
	COLOR: #448bbf; TEXT-DECORATION: none
}

.spacingtd {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: arial; LETTER-SPACING: 0px; font-color: #000000
}
.title1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 11px; COLOR: #990066; LINE-HEIGHT: 15px; FONT-FAMILY: arial; LETTER-SPACING: 0px
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; LINE-HEIGHT: 15px; FONT-FAMILY: arial; LETTER-SPACING: 0px
}
HR {
	BORDER-RIGHT: 73px solid; BORDER-TOP: 73px solid; BORDER-LEFT: 73px solid; COLOR: #448bbf; BORDER-BOTTOM: 73px solid
}



.maintable {
	BORDER-RIGHT: #0e72a4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #0e72a4 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 2px; BORDER-LEFT: #0e72a4 1px solid; LINE-HEIGHT: 16px; PADDING-TOP: 2px; BORDER-BOTTOM: #0e72a4 1px solid; FONT-FAMILY: arial; LETTER-SPACING: 0px; BACKGROUND-COLOR: #ffffff; font-color: #666666
}
.title2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: #0e72a4; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px
}
.title3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #d1d7dc; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.title4{
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #dfdfdf; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.TD1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #efefef; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
INPUT {
	BORDER-RIGHT: 1px groove; BORDER-TOP: 1px groove; BORDER-LEFT: 1px groove; BORDER-BOTTOM: 1px groove
}
TEXTAREA {
	BORDER-RIGHT: 1px groove; BORDER-TOP: 1px groove; BORDER-LEFT: 1px groove; BORDER-BOTTOM: 1px groove
}
.checkbox {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
.button {
	COLOR: #000000; BACKGROUND-COLOR:  #d1d7dc; font-weight:bold; border-style:solid
}
.error {
	FONT-WIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: arial; LETTER-SPACING: 0px; color: #ff0000
}
.textbody1 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 16px; FONT-FAMILY: arial; LETTER-SPACING: 0px; font-color: #666666
}
.button0 { 
	COLOR:#000099; BACKGROUND-COLOR:#FFFFFF; border-style:solid; font-family:arial
}
.button1 { 
	COLOR:#000099; BACKGROUND-COLOR:#CCFFFF; border-style:solid; font-family:arial
}
.button2 { 
	COLOR:#000099; BACKGROUND-COLOR:#00CCFF; border-style:solid; font-family:arial
}
.report1 {	FONT-WEIGHT: bold; FONT-SIZE: 20px; font-family:arial; }
.report2 {	FONT-WEIGHT: normal; FONT-SIZE: 12px; font-family:arial;}
.report3 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; font-family:arial;background-color:#ffffff}
.report4 {	FONT-WEIGHT: normal; FONT-SIZE: 12px; font-family:arial;background-color:#ffffff}
.report5 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; font-family:arial;background-color:#cccccc}
.report6 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; font-family:arial;background-color:#999999}
.report7 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; font-family:arial;background-color:#FFFFCC; color:#0000FF}
.report8 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; font-family:arial;background-color:#000000; color:#FFFFFF}
.report0 {	FONT-WEIGHT: bold; FONT-SIZE: 12px; font-family:arial;background-color:#ffffff}
.check	 { border:1px solid #0066CC;  }
.color1 { background-color:#EDFEEE; height:26px; FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana; LETTER-SPACING: 0px; font-color: #000000}
.color2 { background-color:#FBFDD9; height:26px; FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana; LETTER-SPACING: 0px; font-color: #000000}
.color3 { background-color:#F2F1FE; height:26px; FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana; LETTER-SPACING: 0px; font-color: #000000}
.color4 { background-color:#FEF3FB; height:26px; FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana; LETTER-SPACING: 0px; font-color: #000000}
.color5 { background-color:#FDDC9D; height:26px; FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana; LETTER-SPACING: 0px; font-color: #000000}
.TD2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; background-color:#FFFFFF ; PADDING-BOTTOM: 3px; PADDING-TOP: 3px;
	font-size:13px; font-family:tahoma; 
}
